:root {
  color: #212020;
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-attachment: fixed;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;;
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-attachment: fixed;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-image 0.3s ease;
  transition: font-size 0.2s ease;
  transition: color 0.2s ease;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";
